<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="main">
        <h2>WE ARE UNDERWORLD</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis<br>
            ipsam sunt nemo sit repellat, sint eveniet nobis voluptatibus, accusan<br>
            nisi aspernatur labore cumque commodi iure adipisci non laboriosam unde
        </p>
        <div class="flex-btn">
            <form class="form-product" action="submit" method="POST">
                <button type="submit" name="title">Start Now</button>
            </form>
            <form class="form-product" action="admin" method="POST">
                <button type="submit" class="btnss" name="title">Admin</button>
            </form>
        </div>
    </div>
</body>
</html>